* {
    font-family: Arial, sans-serif;
}

#button-holder {
    width:  200px;
    margin: auto;
}

#spinner-button {
    width:       200px;
    height:      75px;
    font-size:   1.25em;
    font-weight: bold;
}

#spinner-page {
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
}
#spinner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#current-selection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}
#current-selection img {
    max-height: 200px;
    max-width: 200px;
    width: auto;
}
